.footer {
  position: absolute;
  width: 100%;
  /* background: rgb(40, 40, 40); */
  height: 50px;
  z-index: 2;
  margin: 0 auto;
}

/* .footer {
  position: absolute;
  width: 100%;
  height: auto;
  margin: 0.5vw auto;
  background: rgb(40, 40, 40);
} */
