/* .header {
  position: absolute;
  width: 50vw;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background: rgb(24, 24, 24);
} */

.header {
  position: absolute;
  /* width: 900px; */
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background: rgba(24, 24, 24, 0);
}
